@use "../../styles/general/index.scss" as general;

.fundingbar {
    width: 100%;
    min-height: 40px;
    background-color: general.$primary-blue;
    @include general.default-labels;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: general.$white;
}

.updatebar {
    background-color: general.$nude;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.updatebar_content {
    width: 700px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.update_content-copy {
    @include general.small-body-regular;
    color: general.$black;
    text-align: center;
    margin-top: general.$small;
}



.update_heading {
    @include general.default-body-bold;
    color: general.$primary-blue;
    text-align: center;

}

@media (max-width: general.$tablet) {

    .updatebar_content {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .updatebar_content {
        padding-top: general.$small ;
        padding-bottom: general.$small;
    }



}